<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>NYAMKA</title>
</head>

<body>
    <%- include('header'); %> 
    <div class="container">
        <div class="container-header header-about">
            <h1>Why NYAMKA?</h1>
        </div>
        <div class="about">
            <div class="about-cards">
                <h3 class="about-cards_title">Fast</h3>
                <p class="about-cards_text">NYAMKA is more faster than other food apps</p>
                <img class="about-img" src="/img/about-fast.png" alt="">
            </div>
            <div class="about-cards">
                <h3 class="about-cards_title">Simple</h3>
                <p class="about-cards_text">NYAMKA is so simple to use</p>
                <img class="about-img" src="/img/about-simple.png" alt="">
            </div>
            <div class="about-cards">
                <h3 class="about-cards_title">Savings</h3>
                <p class="about-cards_text">NYAMKA helps you to save your money</p>
                <img class="about-img" src="/img/aboust-savings.png" alt="">
            </div>
            <div class="about-cards">
                <h3 class="about-cards_title">Design</h3>
                <p class="about-cards_text">NYAMKA have so cool and modern design</p>
                <img class="about-img" src="/img/about-design.png" alt="">
            </div>
            <div class="about-cards">
                <h3 class="about-cards_title">Free</h3>
                <p class="about-cards_text">Use NYAMKA for free</p>
                <img class="about-img" src="/img/about-free.png" alt="">
            </div>
            <div class="about-cards">
                <h3 class="about-cards_title">And more...</h3>
                <p class="about-cards_text">Just start your journey with NYAMKA!</p>
                <img class="about-img" src="/img/about-more.png" alt="">
            </div>
        </div>
    </div>
</body>

</html>