<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>NYAMKA</title>
</head>

<body>
    <section class="main_wrapper">
        <div class="main_detail">
            <h2 class="subtitle">A Nyam-Nyam list app</h2>
            <h1 class="title">NYAMKA</h1>
            <p class="description">
                NYAMKA lets you create and manage your daily food list easily.
            </p>
            <a href="/index" class="index_button">View your list</a>
        </div>
            <div class="main_image">
                <img src="/img/main_image1.png" alt="">
            </div>
    </section>
</body>

</html>